@()
@main("Main") {
    @navbar("Main")
    <div class="container-fluid">
        <div class="col-md-2 panels-padd">

            <nav class="row">
                <nav class="panel">
                    <div class="ccolor">
                        <h3 class="text-center panels-text-color"><b class="panels-text-color">SIGN IN</b></h3><hr>
                        <nav class="panel-body">
                            <input class="le form-control" type="email" placeholder="Email Address"><br>
                            <input class="le form-control" type="password" placeholder="password"><br>
                            <button class="btn btn-default form-control cc"><b class="panels-text-color panels-btn-color">
                                Enter</b></button>
                        </nav>
                    </div>
                </nav>
            </nav><br>

            <nav class="row">
                <nav class="panel">
                    <div class="ccolor">
                        <h3 class="text-center panels-text-color"><b>Do you know how you brain work?</b></h3><hr>
                        <nav class="panel-body">
                            <img src="/assets/images/01.jpg" class="center-block" alt="#"><br>
                            <button class="btn btn-default form-control"><b class="panels-text-color">Read more</b></button>
                        </nav>
                    </div>
                </nav>
            </nav><br>
            <nav class="row">
                <nav class="panel">
                    <div class="ccolor">
                        <h3 class="text-center panels-text-color"><b>Intuition</b></h3><hr>
                        <nav class="panel-body">
                            <img src="/assets/images/int.jpg" class="center-block img-thumbnail" alt="#"><br>
                            <button class="btn btn-default form-control"><b class="panels-text-color">Read more</b></button>
                        </nav>
                    </div>
                </nav>
            </nav><br>

            <nav class="row">
                <nav class="panel">
                    <div class="ccolor">
                        <h3 class="text-center panels-text-color"><b>How to choose the right design?</b></h3><hr>
                        <nav class="panel-body">
                            <img src="/assets/images/compass.jpg" class="center-block img-thumbnail" alt="#"><br>
                            <button class="btn btn-default form-control"><b class="panels-text-color">Read more</b></button>
                        </nav>
                    </div>
                </nav>
            </nav><br>

        </div>

        <div class="col-md-8 col-xs-12 topp">
            <h2 class="text-center"><b>Интересные факты</b></h2>
            <div class="jumbotron">
                <h4>1. Многие думают, что такие высшие учебные заведения как Кембридж или Сорбонна самые старые в мире, но это не так. Титул самого древнего несет Мусульманский университет Карауин, основанный в 859 году н.э. в марокканском городе Фес.</h4>
                <img src="/assets/images/k.jpg" class="text-center  center-block img-rounded"><br>
                <p><a class="btn btn-success btn-lg" href="#">Read more</a></p>
            </div>
            <div class="jumbotron">
                <h4>2. Как Вы думаете, где и в какой школе могут учиться самое большое количество учеников? Наверно, это логично – Индия, в набор 2003 года в школу Монтессори в Лукану были зачислены 27911 детей.</h4>
                <img src="/assets/images/i.jpg" class="text-center  center-block img-rounded"><br>
                <p><a class="btn btn-success btn-lg text-center" href="#">Read more</a></p>
            </div>
        </div>
        <div class="col-md-2 panels-padd">
            <nav class="row">
                <nav class="panel">
                    <div class="ccolor">
                        <h3 class="text-center"><b class="panels-text-color">Improve your abilities</b></h3><hr>
                        <nav class="panel-body">
                            <img src="/assets/images/09.jpg" class="" alt="#"><br>
                            <button class="btn btn-default form-control "><b class="panels-text-color">Read more</b></button>
                        </nav>
                    </div>
                </nav>
            </nav><br>

            <nav class="row">
                <nav class="panel">
                    <div class="ccolor">
                        <h3 class="text-center panels-text-color"><b class="panels-text-color">
                            Funny Mathematics</b></h3><hr>
                        <nav class="panel-body">
                            <img src="/assets/images/m.jpg" class="center-block" alt="#"><br>
                            <button class="btn btn-default form-control cc"><b class="panels-text-color">Read more</b></button>
                        </nav>
                    </div>
                </nav>

            </nav><br>
            <nav class="row">
                <nav class="panel">
                    <div class="ccolor">
                        <h3 class="text-center"><b class="panels-text-color">Find you way in the life</b></h3><hr>
                        <nav class="panel-body">
                            <img src="/assets/images/way.jpg" class="center-block" alt="#"><br>
                            <button class="btn btn-default form-control "><b class="panels-text-color">Read more</b></button>
                        </nav>
                    </div>
                </nav>
            </nav><br>
            <nav class="row">
                <nav class="panel">
                    <div class="ccolor">
                        <h3 class="text-center panels-text-color"><b>Do you know how you brain work?</b></h3><hr>
                        <nav class="panel-body">
                            <img src="/assets/images/01.jpg" class="center-block" alt="#"><br>
                            <button class="btn btn-default form-control"><b class="panels-text-color">Read more</b></button>
                        </nav>
                    </div>
                </nav>
            </nav><br>

        </div>

    </div>

}


