@()

@main("intuition") {

    @navbar("intuition")


    <div class="container-fluid panels-padd">
        <div class="col-md-2">

            <nav class="row">
                <nav class="panel">
                    <div class="ccolor">
                        <h3 class="text-center panels-text-color"><b>Intuition</b></h3><hr>
                        <nav class="panel-body">
                            <img src="/assets/images/int.jpg" class="center-block img-thumbnail" alt="#"><br>
                            <button class="btn btn-default form-control"><b class="panels-text-color">Read more</b></button>
                        </nav>
                    </div>
                </nav>
            </nav><br>

            <nav class="row">
                <nav class="panel">
                    <div class="ccolor">
                        <h3 class="text-center panels-text-color"><b>How to choose the right design?</b></h3><hr>
                        <nav class="panel-body">
                            <img src="/assets/images/compass.jpg" class="center-block img-thumbnail" alt="#"><br>
                            <button class="btn btn-default form-control"><b class="panels-text-color">Read more</b></button>
                        </nav>
                    </div>
                </nav>
            </nav><br>

        </div>

        <div class="col-md-8 col-xs-12">
            <h2 class="text-center"><b>Простые шаги для развития интуиции.</b></h2>

            <p>
                <span class="text-info">№ 1. Развивая интуицию,</span>
                прежде всего обратите внимание, как и где она проявляется в вашем теле. Некоторые чувствуют её в желудке, другие в горле или в голове. Обратите внимание на то, какие сигналы организм посылает вам во время встречи с кем-нибудь или во время принятия важного решения.

                Например, когда Вы встречаете кого-то первый раз в жизни, через минуту  у вас уже составлено мнение о нём, как он одевается, как говорит, как ведёт себя. Это визуальное впечатление, после которого приходит ощущение человека и несмотря на то, как одет или что говорит, он либо нравится, либо нет. Это чувство - ваша интуиция.
                Уверен, что каждый может вспомнить встречу с человеком, который по непонятным причинам, просто не понравился. Такое первоначальное чувство, как показывает жизнь, всегда верное. В следующий раз, встречая кого-то, обратите внимание на свое тело и чувства к другому человеку. Вы поймете для себя, о чём я говорю. Энергия исходящая от этого человека не лжёт и у вас есть естественная способность обнаружить её.
                Человек может говорить что угодно, но его истинные намерения проявятся через энергетические вибрации. Вот почему так важно обращать внимание на тихий голос, который говорит вам: "Что-то здесь не так." Многие поймут, что что-то не совсем правильно, но проигнорируют это чувство. Вам нужно научиться настраиваться на эти ощущения и доверять им.

            </p>
            <p>
                <span class="text-info">№ 2.</span>
                Сколько раз вы чувствовали что-то, но не обращали на это внимания, а затем говорили, почему я не прислушался к шестому чувству?  Нужно начинать не только прислушиваться, но действительно настраиваться на интуитивные способности.

                Вы можете сделать это, каждый день напоминая себе, что сегодня собираетесь обращать внимание на природные инстинкты и на все, что происходит вокруг вас. Помните, интуиция, это то, что вы чувствуете, а не то, что вы думаете. Если понимаете разницу между двумя этими вещами, Вы на верном пути к развитию интуиции.

            </p>
            <p>
                <span class="text-info">№ 3.Практикуйтесь и развивайте свою интуицию,</span>
                как спортсмен развивает свои мышцы. Знаю, что некоторые обладают более сильными интуитивными способностями, нежели другие, но я обнаружила, что каждый человек имеет потенциал для повышения своей интуиции независимо от того, где он находится в этом процессе. Нужно практиковаться так, чтобы добраться до точки, где  ваша жизнь существенно улучшиться во всех отношениях.

                Какими способами практиковаться для развития интуиции?  Начните думать о любимом человеке или о ком-то, кто особенно дорог для вас. Потратьте некоторое время, чтобы вызвать в воображении картину с этими людьми. Делайте это в течение нескольких дней подряд. Не удивляйтесь, если они позвонят вам или когда вы встретитесь с ними, они скажут, что в последнее время думали о вас и собирались позвонить вам.

                Практикуйтесь с вещами в повседневной жизни, когда что-то потеряете, используйте энергию сканирования для поиска. Закройте глаза, позвольте вашей энергии заполнить все вокруг вас, заполнить весь ваш дом, ждите когда образ или ощущение о том, где потерялась деталь придёт к вам. Образы и ощущения могут быть разными. Возможно, какая-то определённая область в помещении будет становиться ярче и там сможете обнаружить свою пропажу. Вы будете поражены, насколько точны вы стали, познакомившись с этой техникой.

            </p>
            <p>
                <span class="text-info">№ 4.Используйте колоду карт</span>
                Положите четыре карты картинкой вниз перед собой, затем постарайтесь определить масть карты, красная или чёрная. Начните медленно двигать рукой над каждой картой. Вы можете получить ощущение тепла для красной масти и ощущение холода для черной. Отталкивайтесь от первого впечатления, полученного от каждой карты. Чем больше будете практиковаться, тем быстрее разовьёте интуицию.

            </p>
            <p>
                <span class="text-info">№ 5.Метод слепого чтения. </span>
                <span>1.	Сядьте за письменным столом с тремя пустыми карточками.</span>
                <span>2.	Подумайте о выборе над которым вы, в настоящее время размышляете и напишите три варианта решения для этого, по одной на каждой карточке.</span>
                <span>3.	Переверните карточки пустой стороной вверх и перемешайте.</span>
                <span>4.	Подержите руки над картами, обращая внимание на ощущение над каждой картой.</span>
                <span>5.	Переверните карточку с самым сильным ощущением, скорей всего это и будет правильное решение вопроса.</span>
            </p>
            <p>
                <span class="text-info">№ 6 Игра в светофор.</span>
            <p>1.	Представьте себе светофор. Красный свет означает "нет", а зеленый означает "да".</p>
            <p>2.	Задайте себе вопросы или делайте заявления, которые имеют однозначные ответы: истина / ложь или да / нет и обратите внимание в своём воображении, какой цвет светофора появляется после каждого заявления. Для начала просто произносите свое имя (например, "я Елена"). Затем, называйте себя чужим именем (например, "я Света") и присмотритесь, изменяется ли цвет в воображении.<p>

            Красный и зелёный цвета предлагаются только как пример, здесь всё индивидуально, возможно у вас будут проявляться другие цвета. После освоения такой методики, пробуйте её в ситуациях, когда не знаете ответа.

        </p>
        </div>

        <div class="col-md-2">
            <nav class="row">
                <nav class="panel">
                    <div class="ccolor">
                        <h3 class="text-center"><b class="panels-text-color">Improve your abilities</b></h3><hr>
                        <nav class="panel-body">
                            <img src="/assets/images/09.jpg" class="" alt="#"><br>
                            <button class="btn btn-default form-control "><b class="panels-text-color">Read more</b></button>
                        </nav>
                    </div>
                </nav>
            </nav><br>

            <nav class="row">
                <nav class="panel">
                    <div class="ccolor">
                        <h3 class="text-center panels-text-color"><b class="panels-text-color">
                            Funny Mathematics</b></h3><hr>
                        <nav class="panel-body">
                            <img src="/assets/images/m.jpg" class="center-block" alt="#"><br>
                            <button class="btn btn-default form-control cc"><b class="panels-text-color">Read more</b></button>
                        </nav>
                    </div>
                </nav>

            </nav><br>

        </div>

    </div>

}