@()

@main("Home") {

    @navbar("Memory")
    <div class="container-fluid">
        <div class="col-md-2">
            <div class="row panels-padd">
                <nav class="panel">
                    <div class="ccolor">
                        <h3 class="text-center panels-text-color"><b>Do you know how you brain work?</b></h3><hr>
                        <nav class="panel-body">
                            <img src="/assets/images/01.jpg" class="center-block" alt="#"><br>
                            <button class="btn btn-default form-control"><b class="panels-text-color">Read more</b></button>
                        </nav>
                    </div>
                </nav>
            </div>

            <nav class="row">
                <nav class="panel">
                    <div class="ccolor">
                        <h3 class="text-center"><b class="panels-text-color">Find you way in life</b></h3><hr>
                        <nav class="panel-body">
                            <img src="/assets/images/way.jpg" class="center-block" alt="#"><br>
                            <button class="btn btn-default form-control "><b class="panels-text-color">Read more</b></button>
                        </nav>
                    </div>
                </nav>
            </nav><br>
        </div>

        <div class="col-md-8 col-xs-12">
            <div class="row">
                <br><br>
                <h2 class="text-center"><strong>10 уникальных персон с феноменальной памятью</strong></h2>
            </div>

            <div class="carousel slide " data-ride="carousel" data-interval="3000" id="car" >
                <div class="carousel-inner">

                    <div class="item active">
                        <img class="center-block" src="/assets/images/2.jpg" alt="#">
                        <div class="carousel-caption">
                            <h3 class="c">10. Никола Тесла (1856 - 1943)</h3>
                            <h4 class="c">
                                изобретатель, физик и инженер, широко известный благодаря своему вкладу в создание устройств, работающих на переменном токе. Тесла обладал «фотографической памятью» и редко пользовался необходимостью записывать что-либо. Говорят, что в 1885 году, когда сгорела его лаборатория, он был в состоянии по памяти восстановить многие из своих изобретений.
                            </h4>
                        </div>
                    </div>

                    <div class="item">
                        <img class="center-block" src="/assets/images/11.jpg" alt="#">
                        <div class="carousel-caption">
                            <h3 class="c">9. Теодор Рузвельт (1858 - 1919)</h3>
                            <h4 class="c">
                                26-й президент США и лауреат Нобелевской премии мира за 1906 г. (за посредничество в заключении русско-японского Портсмутского мира). Рузвельт оттачивал свои навыки памяти, ежедневно прочитывая по две-три книги, а затем восстанавливая по памяти все детали. Он также был наделен уникальной способностью заниматься несколькими вещами одновременно. По рассказам, он мог работать с двумя секретарями и, вместе с этим, читать книгу.
                            </h4>
                        </div>
                    </div>

                    <div class="item">
                        <img class="center-block" src="/assets/images/9.jpg" alt="#">
                        <div class="carousel-caption">
                            <h3 class="c">8. Сергей Рахманинов (1873 - 1943)</h3>
                            <h4 class="c">
                                выдающийся русский композитор, дирижер и один из величайших пианистов всех времен. Фотографическая память позволяла ему запоминать ноты с невероятной скоростью. Говорят, он мог без труда запомнить несколько отрывков из сложных музыкальных произведений.
                            </h4>
                        </div>
                    </div>

                    <div class="item">
                        <img class="center-block" src="/assets/images/4.jpg" alt="#">
                        <div class="carousel-caption">
                            <h3 class="c">7. Ким Пик (1951 - 2009)</h3>
                            <h4 class="c">
                                прототип героя Дастина Хоффмана из фильма «Человек дождя» (1988, США), американец с феноменальной памятью, запоминал до 98 % прочитанной информации. За всю свою жизнь Пик запомнил более 9000 книг и мог читать две страницы одновременно.
                            </h4>
                        </div>
                    </div>

                    <div class="item">
                        <img class="center-block" src="/assets/images/8.jpg" alt="#">
                        <div class="carousel-caption">
                            <h3 class="c">6. Папа Иоанн Павел II (1920 - 2005)</h3>
                            <h4 class="c">
                                духовный наставник и глава католической церкви с 1978 – 2005гг. Иоанн Павел II также обладал фотографической памятью. Способность концентрировать внимание на деталях позволили ему выучить 21 язык и свободно говорить на более чем 100 различных диалектах.
                            </h4>
                        </div>
                    </div>

                    <div class="item">
                        <img class="center-block" src="/assets/images/3.jpg" alt="#">
                        <div class="carousel-caption">
                            <h3 class="c">5. Фердинанд Маркос (1917 - 1989)</h3>
                            <h4 class="c">
                                спорный президент Филиппин с 1965 – 1986гг. Маркос имел феноменальную память. Без приложения особых усилий он запоминал сложные тексты, мог продекламировать любую главу Конституции Филиппин 1935г., и единожды прочитав длинную речь, был способен пересказать ее наизусть.
                            </h4>
                        </div>
                    </div>

                    <div class="item">
                        <img class="center-block" src="/assets/images/6.jpg" alt="#">
                        <div class="carousel-caption">
                            <h3 class="c">4. Мэрилу Хеннер (1952 - настоящее время)</h3>
                            <h4 class="c">
                                актриса, продюсер и автор телешоу «Такси». Хеннер – одна из двенадцати людей на планете, у которой невероятный объем памяти (гипертимезия). Исключительная память позволяет ей вспоминать мельчайшие детали из детства, вплоть до крещения в младенчестве.
                            </h4>
                        </div>
                    </div>

                    <div class="item">
                        <img class="center-block" src="/assets/images/5.jpg" alt="#">
                        <div class="carousel-caption">
                            <h3 class="c">3.Юлий Цезарь (100 до н.э. – 44 г. до н.э.)</h3>
                            <h4 class="c">
                                римский полководец, по праву считающийся одним из величайших военачальников в истории становления римской империи. Легенда гласит, что Цезарь знал каждого из 25000 солдат своей армии в лицо.
                            </h4>
                        </div>
                    </div>

                    <div class="item">
                        <img class="center-block" src="/assets/images/7.jpg" alt="#">
                        <div class="carousel-caption">
                            <h3 class="c">2. Мэри Элизабет Боузер (1839 -?)</h3>
                            <h4 class="c">
                                героиня гражданской войны, занималась шпионской деятельностью для армии Союза. Работая в качестве домашней прислуги  в доме президента Конфедерации Джефферсона Дэвиса, Боузер наизусть запоминала и передавала ценную информацию Союзу.
                            </h4>
                        </div>
                    </div>

                    <div class="item">
                        <img class="center-block" src="/assets/images/10.jpg" alt="#">
                        <div class="carousel-caption">
                            <h3 class="c">1.Бонапарт Наполеон (1769 - 1821)</h3>
                            <h4 class="c">
                                первый император Франции, талантливый военачальник, который обрел известность во время французской революции. Наполеон обладал необычайной памятью. Он мог запоминать бесчисленное количество людей, карты и расположение войск. Его талант позволял ему действовать оперативно и разрабатывать беспроигрышные стратегии, предугадывая действия противника на несколько шагов вперед.
                            </h4>
                        </div>
                    </div>

                </div>
                <a class="left carousel-control" role="button" data-slide="prev" href="#car">
                    <span class="glyphicon glyphicon-chevron-left s"></span>
                </a>
                <a class="right carousel-control" role="button" data-slide="next" href="#car">
                    <span class="glyphicon glyphicon-chevron-right s"></span>
                </a>
                <ol class="carousel-indicators">
                    <li class="active" data-target="#car" data-slide-to="0"></li>
                    <li data-target="#car" data-slide-to="1"></li>
                    <li data-target="#car" data-slide-to="2"></li>
                    <li data-target="#car" data-slide-to="3"></li>
                    <li data-target="#car" data-slide-to="4"></li>
                    <li data-target="#car" data-slide-to="5"></li>
                    <li data-target="#car" data-slide-to="6"></li>
                    <li data-target="#car" data-slide-to="7"></li>
                    <li data-target="#car" data-slide-to="8"></li>
                    <li data-target="#car" data-slide-to="9"></li>
                </ol>

            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="text-center"><b>Пять лучших способов заставить ваш мозг работать</b></h2>
                    <p>
                        Если Вы хотите, чтобы Ваш мозг всегда был на пике своей формы, тогда Вам необходимо выполнять предложенные ниже несложные упражнения:
                    </p>
                    <p>
                        1 <span class="text-info">Больше читайте.</span> Посвящайте больше времени чтению книг, газет и журналов. Читайте разнообразную литературу, причем старайтесь охватить широкий спектр областей знаний. Изучение чего-то нового не только заставит ваш мозг работать, но и сделает Вас более умным.
                    </p>
                    <p>
                        2 <span class="text-info">Играйте в развивающие игры.</span> Шахматы, шашки, эрудит, кроссворды и судоку помогут развить способности вашей памяти. Все эти игры стимулируют работу Вашего мозга. Уже через некоторое время Вы станете соображать быстрее.

                    </p>
                    <p>
                        3 <span class="text-info">Ешьте продукты,</span> которые помогут развитию памяти. Фрукты, овощи и злаки содержат антиоксиданты, способствующие развитию памяти. Розмарин и шалфей увеличивают приток крови к мозгу, способствуют лучшему функционированию ума и тела.
                    </p>
                    <p>
                        4 <span class="text-info">Делайте физические упражнения.</span> Тренировки также увеличивает кровоток к мозгу, сохраняющим его активность. Бездеятельность тела рано или поздно приведёт к отсутствию активности в мозге.
                    </p>
                    <p>
                        5 <span class="text-info">Больше пишите.</span> Пишите списки, составляйте проекты, сочиняйте различные тексты или ещё что-нибудь. Письмо укрепляют мысли, а мысли способствует развитию мозга.
                    </p>

                </div>
            </div>
        </div> @*10*@
        <div class="col-md-2 panels-padd">

                <nav class="row">
                    <nav class="panel">
                        <div class="ccolor">
                        <h3 class="text-center"><b class="panels-text-color">Improve your abilities</b></h3><hr>
                        <nav class="panel-body">
                            <img src="/assets/images/09.jpg" class="center-block" alt="#"><br>
                            <button class="btn btn-default form-control "><b class="panels-text-color">Read more</b></button>
                        </nav>
                        </div>
                    </nav>
                </nav><br>

            <nav class="row">
                <nav class="panel">
                    <div class="ccolor">
                        <h3 class="text-center panels-text-color"><b class="panels-text-color">Funny Mathematics</b></h3><hr>
                        <nav class="panel-body">
                            <img src="/assets/images/m.jpg" class="center-block" alt="#"><br>
                            <button class="btn btn-default form-control cc"><b class="panels-text-color">Read more</b></button>
                        </nav>
                    </div>
                </nav>

            </nav><br>

         </div>

    </div>


}
